[Unit]
Description=Twitter Unfollow Alert Worker

[Service]
Type=notify

WorkingDirectory=/srv/TwitterUnfollowAlertScheduler.Worker

ExecStart=/usr/bin/dotnet /srv/TwitterUnfollowAlertScheduler.Worker/TwitterUnfollowAlertScheduler.Worker.dll
SyslogIdentifier=Worker
User=root
Restart=always
RestartSec=5

Environment=DOTNET_ROOT=/opt/rh/rh-dotnet31/root/usr/lib64/dotnet

[Install]
WantedBy=multi-user.target
